@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
@using (@Html.BeginForm("Home", "Home", FormMethod.Post, null)) {
     
<input type="text" value="Sök"/>
<input type="submit" value="Sök"/>    
}